<!doctype html>
<html>
<head>
<title>ToyApp's keys so far</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
<script type=text/javascript>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(function() {
$("div.container a").click(function() {
    key = this.id.substring("link-".length);
    graph_data = $.getJSON("/get/" + key, function(data) {
        out = ""
        for( value in data ) {
            out+=value + " : " + data[value] + "<br/>";
        }
        $("#graph-" + key).html(out);
    });
})
});
</script>
</head>
<body>

{% for key, events in keys.iteritems() %}
<div class="container">
<a href="#" id="link-{{ key }}">{{key}}</a>
<div id="graph-{{key}}"></div>
</div>
{% endfor %}
</body>
</html>
